html {
    font-size: 10px;
    background-size: cover;
    background-color: maroon;
}

body,
html {
    margin: 0;
    padding: 0;
}

kbd {
    display: block;
    font-size: 4rem;
    font-family: 'Orbitron'
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    width: 10rem;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .07s ease;
}

.black {
    color: white;
    background: rgba(0, 0, 0, 0.9);
    text-shadow: 0 0 .5rem white;
    color: #ffc600;
}

.white {
    color: black;
    background: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 .5rem black;
    color: maroon;
}

.sound-name {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-shadow: none;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}